:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #C06C84;
    --color-secondary: #c06c84;
    --color-dark: #6c5b7b;
    --color-bg: #C0766C;

    /* Fonts */
    --font-robot: "Roboto";
    

}